<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <!-- Body tag -->
  <body>
      <div class="container-fluid navbar-container m-sm-5">

        <!-- Header -->
        <%- partial('_partial/header') %>
        
        <!-- Body -->
        <%- body %>

      </div>

      <!-- footer scripts -->
      <%- partial('_partial/footer') %>

      <!-- After footer scripts -->
      <%- partial('_partial/after-footer') %>
  </body>

</html>